<template>
  <q-layout view="lHh Lpr lFf">
    <!-- <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>
          Quasar App
        </q-toolbar-title>

        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header> -->
    <q-footer>
        <q-dialog  full-width style="width: 100%;" v-model="showCookieDialog" seamless position="bottom">
          <q-card class=" "   >
            <q-card-section class="row items-center no-wrap">
              <div>
                <div class="">This site uses cookies. By continuing to browse the site you are agreeing to our use of cookies. Review our <router-link style="cursor: pointer; text-decoration: none;" class="text-primary" target="_blank" to="/privacyPolicy">privacy policy</router-link> for more details.</div>
              </div>
              <q-space />
            </q-card-section>
            <q-card-actions align="right">
              <q-btn
                flat
                label="Accept"
                color="primary"
                @click="acceptCookies()"
                v-close-popup
              />
            </q-card-actions>
          </q-card>

        </q-dialog>
    </q-footer>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: "MainLayout",
  data() {
    return {
      leftDrawerOpen: false,
      showCookieDialog: false,
      interval: 123
    };
  },
  methods: {
    acceptCookies(){
     this.$q.localStorage.set("showCookies", true);
    },
    showCookieAcceptDialog(){
      if (!this.$q.localStorage.getItem("showCookies")) {
        this.showCookieDialog = true
      }
      else{
        this.showCookieDialog = false;
        clearInterval(this.interval);
      }
    },
  },
  mounted() {
    var self = this
    this.interval = setInterval(function () {self.showCookieAcceptDialog()}, 15000);
  }
};
</script>
