<template>
  <div class="row justify-center" style="">
    <div
      class="
        col-xs-10 col-md-9
        row
        justify-center
        q-mt-xl q-mb-sm q-pt-sm 
        round-borders
      "
      :class="{
        background: !isMobile,
        'shadow-8': !isMobile,
        background_mobile: isMobile,
      }"
    >
      <div v-if="!isMobile" class="col-10 row justify-end">
        <div class="col-8 column justify-end">
          <div class=" row justify-center">
            <img
              :class="{
                mendi_image_width_mobile: isMobile,
              }"
              style="height: 5rem;"
              :src="require('../assets/images/logo.png')"
              alt=""
            />
          </div>
            <div class=" row justify-center">
              <span class="text-secondary text-h4 text-weight-bolder"
                >Mendicot</span 
              >
            </div>
        </div>
        <div class="col-2 row justify-end items-end q-pr-md">
          <span class="text-subtitle1 text-secondary text-weight-bolder htp " style="cursor:pointer;"><router-link
              style="cursor: pointer; text-decoration: none"
              class="text-secondary"
              to="/rules"
              target="_blank"
              >HOW TO PLAY</router-link></span>
          <!-- <q-btn outline rounded color="secondary" class="text-weight-bolder" label="HOW TO PLAY" /> -->
        </div>
      </div>

      <div v-if="isMobile" class="col-10 row justify-center">
        <div style="position: absolute; top: 0.5rem; right: 0.5rem;">
            <q-icon @click="routeTo('rules')" id="tip" name="help" color="secondary" size="1.5rem" >  
              <q-tooltip>
                Know how to play
              </q-tooltip> 
            </q-icon>
        </div>
        <div class="col-12 row justify-center">
          <div class=" row justify-center ">
            <img
              :class="{
              }"
              style="height: 6rem;"
              :src="require('../assets/images/logo.png')"
              alt=""
            />
          </div>
            <div class=" row justify-center">
              <span class="text-secondary text-h3 text-weight-bolder"
                >Mendicot</span 
              >
            </div>
        </div>
      </div>
      <div class="col-12 row justify-center round-borders text-weight-bold" :class="{ background: isMobile}">
        <div
          class="col-xs-12 col-md-10 row  round-borders"
          :class="{box_background: !isMobile }"
        >
          <!-- <div v-if="!$q.platform.is.mobile" class="col-12 row justify-end">
            <span class="text-weight-bold text-h6 text-secondary q-mr-lg">WATCH TUTORIAL</span>
          </div> -->
          <div
            v-if="$q.platform.is.mobile"
            class="col-xs-12 row justify-center items-center"
          >
            <div
              @click="changeView()"
              class="col-6 text-center q-pa-sm"
              :class="{ unSelecte_left: !showCreate }"
            >
              <span class="text-secondary text-uppercase text-h5">{{
                startLabel
              }}</span>
            </div>
            <div
              @click="changeView()"
              class="col-6 text-center q-pa-sm"
              :class="{ unSelecte_right: showCreate }"
            >
              <span class="text-secondary text-h5">SHARE</span>
            </div>
          </div>
          <div class="col-12 row justify-around q-mb-md">
            <div
              v-if="controlDisplay"
              class="col-xs-12 col-md-5 row q-mb-md q-mt-md"
            >
              <div class="col-12 column items-center">
                <span class="text-secondary text-uppercase"
                  >Choose your avatar
                </span>
                <span class="text-secondary text-uppercase">and username</span>
              </div>
              <div class="col-12 row justify-center q-mt-md" align="center">
                <div class="col-12">
                  <img :src="currentAvatar" alt="" width="30%" height="90%" />
                </div>
                <div class="col-12 row justify-end q-mt-sm">
                  <div
                    class="col-6 q-pr-sm"
                    :disable="showUrl"
                    align="right"
                  >
                    <img
                      style="cursor: pointer;"
                      @click="changeAvatar(false)"

                      :src="require('../assets/images/arrow_left.png')"
                      alt=""
                    />
                  </div>
                  <div
                    class="col-6 q-pl-sm"
                    
                    :disable="showUrl"
                    
                    align="left"
                  >
                    <img
                    style="cursor: pointer;"
                    @click="changeAvatar(true)"
                      :src="require('../assets/images/arrow_right.png')"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <!-- <div class="col-12 q-mt-md" align="center">
                <q-toggle
                  class="text-secondary"
                  v-if="!isJoining"
                  v-model="isPrivate"
                  :label="isPrivate ? 'PRIVATE': 'PUBLIC'"
                  color="primary"
                  keep-color
                  checked-icon="check"
                  unchecked-icon="clear"
                  :disable="showUrl"
                >
                  <q-tooltip v-if="isPrivate" content-class="bg-secondary text-black">
                    Only people you invite can join a private game
                  </q-tooltip>
                  <q-tooltip v-if="!isPrivate" content-class="bg-secondary text-black">
                    Anyone can join a public game
                  </q-tooltip>
                </q-toggle>
              </div> -->
              <div class="col-12 q-mt-md" align="center">
                <q-input
                  ref="userField"
                  class="input color-primary text-weight-bold"
                  input-class="text-center text-weight-bold"
                  dense
                  standout="bg-primary text-white"
                  style="width: 50%"
                  rounded
                  outlined
                  v-model="playerName"
                  maxlength="10"
                  bg-color="dark"
                  placeholder="username"
                  :disable="showUrl"
                  @keyup.enter="createGame()"
                />
              </div>
              <div class="col-12" align="center">
                <q-btn
                  color="secondary q-mt-md"
                  class="tmpBtn"
                  rounded
                  outline
                  size="md"
                  :label="startLabel"
                  :disable="showUrl"
                  @click="createGame"
                ></q-btn>
              </div>
              <!-- <div class="col-12 text-secondary q-mt-sm" align="center" v-if="!this.showUrl && !isJoining">
                <span>OR</span>
              </div>
              <div class="col-12" align="center" v-if="!this.showUrl">
                <q-btn
                  v-if="!isJoining"
                  color="secondary q-mt-sm"
                  class="tmpBtn"
                  rounded
                  outline
                  size="md"
                  :disable="showUrl"
                  label="Join Game"
                  @click="randomGame()"
                >
                  <q-tooltip content-class="bg-secondary text-black">
                    Join a random game
                  </q-tooltip>
                </q-btn>
              </div> -->
            </div>
            <div
              v-if="this.showUrl && !showCreate"
              class="col-md-5 col-xs-12 row q-mb-xl q-mt-md justify-center"
              style="display: flex; align-content: flex-start"
            >
              <div
                class="
                  col-xs-10 col-md-12
                  height-min-content
                  column
                  items-center
                "
              >
                <span class="text-secondary text-center text-uppercase"
                  >Send the below URL for your friends to join
                </span>
              </div>
              <div class="col-12 height-min-content" align="center">
                <q-input
                  ref="gameUrl"
                  style="width: 70%"
                  class="url-copy q-ma-xs"
                  v-model="gameUrl"
                  dense
                  readonly
                >
                  <template v-slot:append>
                    <q-icon
                      style="cursor: pointer"
                      name="content_copy"
                      class="text-primary"
                      size="sm"
                      @click="copyToClipboard"
                    />
                  </template>
                </q-input>
              </div>
              <div
                class="
                  col-12
                  row
                  wrap
                  justify-center
                  height-min-content
                  q-mt-xl
                "
              >
                <div class="col-5 q-pa-sm" align="center">
                  <span class="color-team1 text-uppercase">Ninjas</span>
                </div>
                <div class="col-5 q-pa-sm" align="center">
                  <span class="color-team2 text-uppercase">Titans</span>
                </div>
                <draggable
                  class="col-5 column q-pa-sm"
                  :list="blueTeam"
                  @drop="dropped()"
                  group="people"
                  @change="draggableChanged($event, 'blue')"
                >
                  <div
                    class="
                      list-group-item
                      row
                      justify-around
                      team1-drag
                      bg-team1
                      q-pa-sm q-mb-md
                    "
                    v-for="element in blueTeam"
                    :key="element.screenName"
                  >
                    <!-- <div class="col-4"><img :src="getAvatar(element.avatar)" alt="" width="100%" height="100%"></div>
                    <div class="col-8"><span >{{ element.screenName }}</span></div> -->
                    <span >{{ element.screenName }}</span>
                  </div>
                </draggable>
                <draggable
                  class="col-5 column q-pa-sm"
                  :list="redTeam"
                  group="people"
                  @change="draggableChanged($event, 'red')"
                >
                  <div
                    id="v-change-team-step-0"
                    class="
                      list-group-item
                      team2-drag
                      row
                      justify-around
                      bg-team2
                      q-pa-sm q-mb-md
                    "
                    v-for="element in redTeam"
                    :key="element.screenName"
                  >
                    <!-- <div class="col-4"><img :src="getAvatar(element.avatar)" alt="" width="100%" height="100%"></div>
                    <div class="col-8"><span >{{ element.screenName }}</span></div> -->
                    <span>{{ element.screenName }}</span>
                  </div>
                </draggable>
              </div>
              <div class="col-12 row justify-center height-min-content">
                <q-btn
                  :disable="isJoining"
                  color="secondary q-mt-sm"
                  class="tmpBtn"
                  rounded
                  outline
                  size="md"
                  label="Start Game"
                  @click="startMatch()"
                >
                  <q-tooltip v-if="isJoining" content-class="bg-secondary text-black">
                    Only host can start the game
                  </q-tooltip>
                </q-btn>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 q-my-sm row justify-center text-secondary">
          <span class="col-auto q-mx-sm"
            >  <router-link
              style="cursor: pointer; text-decoration: none"
              class="text-secondary"
              to="/privacyPolicy"
              target="_blank"
              >Privacy Policy</router-link>  
            </span
          >
          <span class="col-auto q-mx-sm"> | </span>
          <span class="col-auto q-mx-sm text-secondary"> <a href="https://discord.gg/crrKFBCU4y" class="text-secondary text-weight-bold" target="_blank" style="cursor: pointer; text-decoration: none"><span class="text-secondary text-weight-bold">Discord</span> </a> </span>
          <span class="text-secondary col-auto q-mx-sm"> | </span>
          <span class="text-secondary col-auto q-mx-sm" style="cursor: pointer; text-decoration: none" @click="contactUs()">  About Us </span>
        </div>
      </div>
    </div>
    <!-- <div id="App" class="row">
      <gadsense googleSlot="4939434169" :timeout="200" />
    </div> -->
    <v-tour
      name="myTour"
      :steps="changeTeamSteps"
      :callbacks="changeTeamCallback"
      :options="options"
    ></v-tour>
  </div>
</template>
<script>
import draggable from "vuedraggable";
import gadsense from "../components/gadsense.vue";
import ContactUs from "../components/contactUs.vue";
import tour from "../mixins/tour";
import commonFunctions from "../mixins/commonFunctions";
import { mapGetters, mapActions } from "vuex";
import _ from "lodash";

export default {
  name: "intro",
  data() {
    return {
      playerName: "",
      startLabel: "Create",
      startGameLabel: "Waiting For Players...",
      totalAvatars: [0, 1, 2, 3], //needs fix
      slide: this.randomIntFromInterval(0, 7),
      hideJoin: true,
      gameId: "",
      gameUrl: "",
      socketConnected: false,
      newPlayer: {},
      blueTeam: [],
      redTeam: [],
      isJoining: false,
      showUrl: false,
      showCreate: true,
      isPrivate: false,
      previousRoute: null,
    };
  },

  computed: {
    ...mapGetters({
      playerInfo: "getPlayerInfo",
    }),
    isMobile() {
      return this.$q.platform.is.mobile;
    },
    controlDisplay() {
      return !this.$q.platform.is.mobile ? true : this.showCreate
      // if (!this.$q.platform.is.mobile) {
      //   return true;
      // } else {
      //   return this.showCreate;
      // }
    },
    currentAvatar() {
      return require("../assets/images/avatars/" + this.slide + ".png");
    },
  },

  methods: {
    routeTo(place){
      this.$router.push('/'+place)
    },

    changeView() {
      if (!this.showUrl) {
        this.$q.notify({
          message: "Create or join the game first",
          color: "yellow",
          timeout: 2500,
          position: "bottom-right",
        });
        return;
      }
      this.showCreate = !this.showCreate;
    },
    copyToClipboard() {
      let copyText = this.$refs.gameUrl;
      copyText.select();
      // copyText.setSelectionRange(0, 99999); /* For mobile devices */
      document.execCommand("copy");
    },

    createGame() {
      if (this.showUrl) {
        this.$q.notify({
          message: "Game already created",
          color: "yellow",
          timeout: 2500,
          position: "bottom-right",
        });
      }
      if (this.isJoining) {
        this.joinGame();
        return;
      }
      if (this.verifyPlayerInfo()) {
        this.$socket.client.open();
        let params = {
          screenName: this.playerName,
          avatar: this.slide,
          isPrivate: this.isPrivate,
        };
        this.$socket.client.emit("newGame", params);
      }
    },

    verifyPlayerInfo() {
      if (this.playerName.trim() === "") {
        this.$q.notify({
          message: "Username required",
          color: "red",
          timeout: 2500,
          position: "bottom-right",
        });
        return false;
      } else if (this.playerName.length > 10) {
        this.$q.notify({
          message: "Username should be max 10 characters",
          color: "red",
          timeout: 2500,
          position: "bottom-right",
        });
        return false;
      }
      return true;
    },

    changeAvatar(next) {
      if(!this.showUrl){
        let num = Number(this.slide);
        if (next) {
          if (num == 7) {
            num = 0;
          } else {
            num += 1;
          }
        } 
        else {
          if (num == 0) {
            num = 7;
          } else {
            num -= 1;
          }
        }
        this.slide = num.toString();
      }
    },

    startMatch() {
      if ( this.redTeam.length != this.blueTeam.length || this.redTeam.length + this.blueTeam.length != 4 ) {
        // currently can't make game of 6
        this.$q.notify({
          message: "Both teams need a min of 2 players each",
          color: "red", // try to use quasar variables (primary, secondary, warning, etc)
          timeout: 2500,
          position: "bottom",
        });
        return;
      }

      //start game
      let params = {
        gameId: this.gameId,
      };
      this.$socket.client.emit("startGame", params);
    },

    joinGame() {
      if (this.verifyPlayerInfo()) {
        if (!this.socketConnected) {
          this.$socket.client.open();
        }
        let params = {
          screenName: this.playerName,
          avatar: this.slide,
          gameId: this.gameId,
        };
        this.$socket.client.emit("joinGame", params);
      }
    },

    getAvatar(index) {
      return require("../assets/images/avatars/" + index + ".png");
    },
    heroImage() {
      return {
        backgroundImage:
          "url(" + require("../assets/images/landing_page.png") + ")",
      };
    },

    draggableChanged(evt, teamColor) {
      window.console.log(evt);
      if (evt.added) {
        if (evt.added.element.team) {
          evt.added.element.team = teamColor;
          const data = {
            gameId: this.gameId,
            id: evt.added.element.id,
            newTeam: teamColor,
          };
          this.$socket.client.emit("changeTeam", data);
        }
      }
    },
    addPlayerToTeam(player) {
      if (player.team === "blue") {
        const index = this.getPlayerIndexInTeam(this.blueTeam, player);

        if (index < 0) {
          this.blueTeam.push(player);
        }
      } else if (player.team === "red") {
        const index = _.findIndex(this.redTeam, player);
        if (index < 0) {
          this.redTeam.push(player);
        }
      }

      // show tour tip
      if (this.redTeam.length + this.blueTeam.length > 1) {
        this.m_showChangeTeamTour();
      }
    },
    getPlayerIndexInTeam(team, player) {
      return _.findIndex(team, player);
    },
    randomGame() {
      if (this.verifyPlayerInfo()) {
        this.$socket.client.open();
        this.$socket.client.emit("joinRandomGame");
      }
    },

    startingNewGameAgain(){
      // get users from store
      // copy functions from sockets: gameCreated gameJoined newPlayerAdded
      var self = this;
      let users = this.$store.getters.getUsers;
      this.gameId = this.$store.getters.getGameId;
      this.gameUrl = this.$store.state.GAME_URL + "?key=" + this.gameId;
      this.isJoining = true;
      _.forEach(users, function(value, key) {
        if(key == self.$store.state.playerId){
            self.slide = value.avatar;
            self.playerName = value.screenName;
            if(value.isHost){
              self.isJoining = false
            }
        }
        
        self.addPlayerToTeam(value)
      });
      this.showUrl = true;
      this.changeView();

    },
    contactUs(){
      this.$q.dialog({
        component: ContactUs,

        // optional if you want to have access to
        // Router, Vuex store, and so on, in your
        // custom component:
        parent: this, // becomes child of this Vue node
                      // ("this" points to your Vue component)
                      // (prop was called "root" in < 1.1.0 and
                      // still works, but recommending to switch
                      // to the more appropriate "parent" name)

        // props forwarded to component
        // (everything except "component" and "parent" props above):
        text: 'something',
        // ...more.props...
      }).onOk(() => {
        console.log('OK')
      }).onCancel(() => {
        console.log('Cancel')
      }).onDismiss(() => {
        console.log('Called on OK or Cancel')
      })
    }
  },
  components: {
    draggable,
    gadsense,
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      if(from && from.path){
        vm.previousRoute = from.path;
        if(from.path == '/session' && vm.$store.getters.getGameId){
          vm.startingNewGameAgain();
        }
      }
    })
  },

  sockets: {
    connect: function () {
      this.socketConnected = true;
    },
    disconnect: function (data) {
      console.log("socket disconnected");
    },
    clientCount: function (count) {
      // this.$q.notify({
      //   message: count + " Clients in session",
      //   color: "purple",
      // });
    },
    gameCreated: function (data) {
      this.gameId = data.gameId;
      this.$store.dispatch("setGameId", this.gameId);
      this.gameUrl = this.$store.state.GAME_URL + "?key=" + this.gameId;
      delete data.gameId;
      this.addPlayerToTeam(data);
      this.$store.dispatch("setPlayerInfo", data);
      this.showUrl = true;
      this.changeView();
    },
    gameJoined: function (data) {
      let self = this;
      this.addPlayerToTeam(data.playerDetails);
      data.otherRoomPlayers.map((player) => this.addPlayerToTeam(player));
      this.$store.dispatch("setPlayerInfo", data.playerDetails);

      //add new players
      data.otherRoomPlayers.forEach((player) => {
        self.$store.dispatch("addNewPlayer", player);
      });

      this.gameId = data.gameId;
      this.$store.dispatch("setGameId", this.gameId);

      this.gameUrl = this.$store.state.GAME_URL + "?key=" + this.gameId;
      this.showUrl = true;
      this.changeView();
    },
    newPlayerJoined: function (playerData) {
      this.$store.commit("addNewPlayer", playerData);
      this.addPlayerToTeam(playerData);
      //this.newPlayer = data;
    },
    changeTeam: function (data) {
      this.$store.commit("changePlayerTeam", data);
      if (data.newTeam == "red") {
        const index = _.findIndex(this.blueTeam, ["id", data.id]);
        if (index > -1) {
          let obj = JSON.parse(JSON.stringify(this.blueTeam[index]));
          this.blueTeam.splice(index, 1);
          obj.team = "red";
          this.redTeam.push(obj);
        }
      } else if (data.newTeam == "blue") {
        const index = _.findIndex(this.redTeam, ["id", data.id]);
        if (index > -1) {
          let obj = JSON.parse(JSON.stringify(this.redTeam[index]));

          this.redTeam.splice(index, 1);

          obj.team = "blue";
          this.blueTeam.push(obj);
        }
      }
    },
    roundStart: function (data) {
      data['isMobile'] = this.$q.platform.is.mobile
      this.$store.commit("initRound", data);
      this.$router.push("/session");
    },
    resetGame: function(data) {
      this.$store.dispatch("resetState", true);
    },

    randomGameKey: function (key) {
      if (key) {
        this.gameId = key;
        this.joinGame();
      } else {
        this.$q.notify({
          message: "No game found. Creating one...",
          color: "Yellow",
          timeout: 2500,
          position: "bottom-right",
        });
        this.isPrivate = false;
        this.createGame();
      }
    },
    playerDisconnected: function (data) {
      if (data.removePlayer) {
        let playerId = data.removePlayer;
        this.$store.dispatch("removeUser",playerId)
        // var index = _.findIndex(this.blueTeam, ['id', playerId]);
        // if(index > -1){

        // }
        var self = this;
        this.blueTeam = _.remove(this.blueTeam, function (n) {
          if (n.id == playerId) {
            self.$q.notify({
              message: n.screenName + " left the game",
              color: "red",
              position: "bottom",
            });
          }
          return n.id != playerId;
        });
        this.redTeam = _.remove(this.redTeam, function (n) {
          if (n.id == playerId) {
            self.$q.notify({
              message: n.screenName + " left the game",
              color: "red",
              position: "bottom-right",
            });
          }
          if (n.id == playerId && n.isHost) {
            self.$q.notify({
              message: "Host has left the game, please restart",
              color: "red",
              position: "bottom-right",
            });
          }
          return n.id != playerId;
        });
      }
    },

    // POP UP COMING TWICE
    // error: function(data) {
    //   var self = this;
    //   self.$q.notify({
    //     message: "Error Occured",
    //     color: "red",
    //     position: "bottom-right",
    //   });
    // }
  },

  mounted() {
    // this.showChangeTeamTour();
    // this.$tours['myTour'].start()
    const query = this.$route.query;
    if (query.key || query.KEY) {
      this.gameId = query.key || query.KEY;
      this.isJoining = true;
      this.startLabel = "Join";
    }
    this.$refs.userField.focus();
    // this.$store.state.turns = [1,2,3,4]
    // this.$store.state.playerId = 1
    // this.$store.dispatch('reOrderTruns')
  },
  created() {
    let self = this;
    window.addEventListener(
      "beforeunload",
      function (event) {
        self.$socket.client.emit("playerDisconnected", { gameId: self.gameId, });
      },
      false
    );
  },
  mixins: [tour, commonFunctions],
};
</script>
<style scoped>
.outline {
  border: 1px solid black;
}
.unSelecte_left {
  background-color: rgb(0, 0, 0, 20%);
  border-radius: 2rem 0px 0px 0px;
}
.unSelecte_right {
  background-color: rgb(0, 0, 0, 20%);
  border-radius: 0px 2rem 0px 0px;
}
.mendi_image_width {
  width: 8%;
}
.mendi_image_width_mobile {
  width: 30%;
}
.background {
  /* background-color:  rgba(12, 123, 147, 0.5); */
  background: linear-gradient(0deg, rgba(20, 40, 80,0.5), rgba(0, 87, 106,0.5) 130%) no-repeat;
}
.background_mobile {
  background-color: rgba(12, 123, 147, 0);
}
.box_background {
  background-color: rgba(0, 0, 0, 20%);
}
.htp:hover{
  text-decoration: underline;
}
</style>