<template>
  <div class="row justify-center " :class="{ background: !isMobile}">
    <div
      class="
        col-xs-10 col-md-9
        row
        justify-center
        q-mt-md q-mb-xl
        round-borders
      "
      :class="{
        background: !isMobile,
        'shadow-8': !isMobile,
        background_mobile: isMobile,
      }"
    >
      <div v-if="!isMobile" class="col-10 row justify-end">
        <div class="col-8 column justify-end">
          <div class=" row justify-center ">
            <img
              :class="{
                mendi_image_width_mobile: isMobile,
              }"
              style="height: 6rem;"
              :src="require('../assets/images/logo.png')"
              alt=""
            />
          </div>
            <div class=" row justify-center">
              <span class="text-secondary text-h3 text-weight-bolder"
                >Mendicot</span 
              >
            </div>
        </div>
        <div class="col-2 row justify-end items-end q-pr-md">
          <span class="text-h6 text-secondary text-weight-bolder htp " @click="routeTo('')" style="cursor:pointer;">BACK</span>
          <!-- <q-btn outline rounded color="secondary" class="text-weight-bolder" label="HOW TO PLAY" /> -->
        </div>
      </div>
      <div v-if="isMobile" class="col-10 row justify-center">
        <div style="position: absolute; top: 0.5rem; left: 0.5rem;">
            <q-icon @click="routeTo('')" id="tip" name="arrow_back" color="secondary" size="1.5rem" >        
            </q-icon>
              <q-tooltip target="tip">
                Know how to play
              </q-tooltip> 
        </div>
        <div class="col-12 row justify-center">
          <div class=" row justify-center ">
            <img
              :class="{
              }"
              style="height: 6rem;"
              :src="require('../assets/images/logo.png')"
              alt=""
            />
          </div>
            <div class=" row justify-center">
              <span class="text-secondary text-h3 text-weight-bolder"
                >Mendicot</span 
              >
            </div>
        </div>
      </div>
      <div class="col-12 row justify-center round-borders" :class="{ background: isMobile}">
        <div
          class="col-xs-10 col-md-10 row  round-borders text-secondary"
          :class="{box_background: !isMobile }"
        >
          <div class="q-ma-lg col-12 row">
                <div class="text-h4 text-weight-bolder col-12">GOAL</div>
                <span class="text-h6 col-12 row">
                  <span class="q-px-sm col-xs-1 col-md-auto">*</span> 
                  <span class="col-xs-10 col-md-11"> The team that gets most 10th card of each suit (also called as Mendi) wins the game</span> 
                </span>
                <div class="col-12 row q-my-lg justify-center">
                  <div class="col-2" :style="styleObject">
                    <img style="height: 100%;" :src="require('../assets/images/cards/10C.png')" alt="">   
                  </div>
                  <div class="col-2" :style="styleObject">
                    <img style="height: 100%;" :src="require('../assets/images/cards/10D.png')" alt="">   
                  </div>
                  <div class="col-2" :style="styleObject">
                    <img style="height: 100%;" :src="require('../assets/images/cards/10H.png')" alt="">   
                  </div>
                  <div class="col-2" :style="styleObject">
                    <img style="height: 100%;" :src="require('../assets/images/cards/10S.png')" alt="">   
                  </div>
                </div>
                <span class="text-h6 col-12 row">
                  <span class="q-px-sm col-xs-1 col-md-auto">*</span> 
                  <span class="col-xs-10 col-md-11">If both team have equal number of 10th card of each suit then the team who won the most number of rounds win the game</span> 
                </span>

                <div class="text-h4 text-weight-bolder q-my-md col-12">HOW TO PLAY</div>
                <span class="text-h6 col-12 row">
                  <span class="q-px-sm col-xs-1 col-md-auto">*</span> 
                  <span class="col-xs-10 col-md-11"> The game is played by 2 teams</span> 
                </span>
                <span class="text-h6 col-12 row">
                  <span class="q-px-sm col-xs-1 col-md-auto">*</span> 
                  <span class="col-xs-10 col-md-11"> Each team consist of 2-3 players (game provides only team of 2 right now)</span> 
                </span>
                <div class="col-12 row q-my-lg justify-center">
                  <div class="col-auto" :style="stylePlayerListObject">
                    <img style="height: 100%;" :src="require('../assets/images/mendi_teams_ss.png')" alt="">   
                  </div>
                </div>
                <span class="text-h6 col-12 row">
                  <span class="q-px-sm col-xs-1 col-md-auto">*</span> 
                  <span class="col-xs-10 col-md-11"> The player positions is in such a way that there are always opponents next to you.</span> 
                </span>
                <span class="text-h6 col-12 row">
                  <span class="q-px-sm col-xs-1 col-md-auto">*</span> 
                  <span class="col-xs-10 col-md-11"> When the match begins 48 cards are distributed evenly across all the players, every player having 12 cards each in their hand</span> 
                </span>
                <div class="col-12 row q-my-lg justify-center" v-if="!isMobile">
                  <div class="col-auto" :style="stylePlayerListObject">
                    <img style="height: 100%;" :src="require('../assets/images/gameboard_ss.png')" alt="">   
                  </div>
                </div>
                <span class="text-h6 col-12 row">
                  <span class="q-px-sm col-xs-1 col-md-auto">*</span> 
                  <span class="col-xs-10 col-md-11"> 1 random person holds a trump card ( a random card from the players hand), which is kept seperate hidden from everyone</span> 
                </span>
                <span class="text-h6 col-12 row">
                  <span class="q-px-sm col-xs-1 col-md-auto">*</span> 
                  <span class="col-xs-10 col-md-11"> Everyone can see who holds the trump card </span> 
                </span>
                <span class="text-h6 col-12 row">
                  <span class="q-px-sm col-xs-1 col-md-auto">*</span> 
                  <span class="col-xs-10 col-md-11"> A random player is selected to start the first round </span> 
                </span>
                <span class="text-h6 col-12 row">
                  <span class="q-px-sm col-xs-1 col-md-auto">*</span> 
                  <span class="col-xs-10 col-md-11"> Whatever suit card the first player plays, all other players must play a card of same suit </span> 
                </span>
                <span class="text-h6 col-12 row">
                  <span class="q-px-sm col-xs-1 col-md-auto">*</span> 
                  <span class="col-xs-10 col-md-11"> The player that plays the highest card in that suit wins the round </span> 
                </span>
                <span class="text-h6 col-12 row">
                  <span class="q-px-sm col-xs-1 col-md-auto">*</span> 
                  <span class="col-xs-10 col-md-11"> The player that wins the previous round starts the next round </span> 
                </span>

                <div class="text-h4 text-weight-bolder q-my-md col-12">TRUMP</div>
                <span class="text-h6 col-12 row">
                  <span class="q-px-sm col-xs-1 col-md-auto">*</span> 
                  <span class="col-xs-10 col-md-11"> If a player does not have a card of the suit that is being played on the table, then the player has 2 options </span> 
                </span>
                <div class="text-h5 text-weight-bold q-my-sm q-px-sm col-12">Open Trump</div>
                <span class="text-h6 col-12 row">
                  <span class="q-pr-sm q-pl-md col-xs-1 col-md-auto">*</span> 
                  <span class="col-xs-10 col-md-11"> If a player opens trump (can do so by clicking on the trump card), he/she has to play a card of suit similer to trump </span> 
                </span>
                <span class="text-h6 col-12 row">
                  <span class="q-pr-sm q-pl-md col-xs-1 col-md-auto">*</span> 
                  <span class="col-xs-10 col-md-11"> If the player does not have a card of the suit similer to trump, he/she can play any other card </span> 
                </span>
                <div class="text-h5 text-weight-bold q-my-sm q-px-sm col-12">Dont Open Trump</div>
                <span class="text-h6 col-12 row">
                  <span class="q-pr-sm q-pl-md col-xs-1 col-md-auto">*</span> 
                  <span class="col-xs-10 col-md-11"> In this case player can choose to not open trump and play any random card from his hand but doing so that card wont have any value in that round. </span> 
                </span>
                <div class="text-h5 text-weight-bold q-my-sm q-px-sm col-12">Once trump is opened</div>
                <span class="text-h6 col-12 row">
                  <span class="q-pr-sm q-pl-md col-xs-1 col-md-auto">*</span> 
                  <span class="col-xs-10 col-md-11"> The suit of the trump has the highest value over any other suit </span> 
                </span>
                <span class="text-h6 col-12 row">
                  <span class="q-pr-sm q-pl-md col-xs-1 col-md-auto">*</span> 
                  <span class="col-xs-10 col-md-11"> A player can play suit of a trump if the player does not have a card of the suit that is being played on the table. </span> 
                </span>
                <span class="text-h6 col-12 row">
                  <span class="q-pr-sm q-pl-md col-xs-1 col-md-auto">*</span> 
                  <span class="col-xs-10 col-md-11"> If more then one cards of trump suit are played then the card with highest value wins </span> 
                </span>
                
          </div>
        </div>
        <div class="col-12 q-my-sm row justify-center text-secondary text-weight-bold">
          <span class="col-auto q-mx-sm"
            >  <router-link
              style="cursor: pointer; text-decoration: none"
              class="text-secondary"
              to="/privacyPolicy"
              target="_blank"
              >Privacy Policy</router-link>  
            </span
          >
          <span class="col-auto q-mx-sm"> | </span>
          <span class="col-auto q-mx-sm text-secondary"> <a href="https://discord.gg/crrKFBCU4y" class="text-secondary text-weight-bold" target="_blank" style="cursor: pointer; text-decoration: none"><span class="text-secondary text-weight-bold">Discord</span> </a> </span>
          <span class="text-secondary col-auto q-mx-sm"> | </span>
          <span class="text-secondary col-auto q-mx-sm" style="cursor: pointer; text-decoration: none" @click="contactUs()">  About Us </span>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import commonFunctions from "../mixins/commonFunctions";
import ContactUs from "../components/contactUs.vue";
import _ from "lodash";

export default {
  name: "rules",
  data() {
    return {
      styleObject: {
        height: this.$q.platform.is.mobile ? '3rem': '8rem'
      },
      stylePlayerListObject: {
        height: this.$q.platform.is.mobile ? '9rem': '17rem'
      }
    };
  },

  computed: {
    isMobile() {
      return this.$q.platform.is.mobile;
    },
  },

  methods: {
    routeTo(place){
      this.$router.push('/')
    },
    contactUs(){
      this.$q.dialog({
        component: ContactUs,

        // optional if you want to have access to
        // Router, Vuex store, and so on, in your
        // custom component:
        parent: this, // becomes child of this Vue node
                      // ("this" points to your Vue component)
                      // (prop was called "root" in < 1.1.0 and
                      // still works, but recommending to switch
                      // to the more appropriate "parent" name)

        // props forwarded to component
        // (everything except "component" and "parent" props above):
        text: 'something',
        // ...more.props...
      }).onOk(() => {
        console.log('OK')
      }).onCancel(() => {
        console.log('Cancel')
      }).onDismiss(() => {
        console.log('Called on OK or Cancel')
      })
    }
  },
  components: {
  },

  sockets: {

  },

  mounted() {

  },
  created() {

  },
  mixins: [commonFunctions],
};
</script>
<style scoped>
.outline {
  border: 1px solid black;
}
.unSelecte_left {
  background-color: rgb(0, 0, 0, 20%);
  border-radius: 2rem 0px 0px 0px;
}
.unSelecte_right {
  background-color: rgb(0, 0, 0, 20%);
  border-radius: 0px 2rem 0px 0px;
}
.mendi_image_width {
  width: 8%;
}
.mendi_image_width_mobile {
  width: 30%;
}
.background {
  /* background-color:  rgba(12, 123, 147, 0.5); */
  background: linear-gradient(0deg, #142850, #00576a 130%) no-repeat;
}
.background_mobile {
  background-color: rgba(12, 123, 147, 0);
}
.box_background {
  background-color: rgba(0, 0, 0, 20%);
}
</style>