<template>
  <q-page :style="heroImage()">
    <div v-if="this.$q.platform.is.mobile">
      <div class="row justify-center text-center content-center allign-center" v-show="!isLandscape">
        <h5 class="text-white ">Please rotate your phone to continue playing</h5>
        <h6 class="text-white ">Make sure your auto rotate lock is turned off</h6>
      </div>
      <div class="flex row" v-show="isLandscape">
          <scoreboard class="col-12 scoreboard" style="z-index: 200;"/>
          <gametable class="col-12 gameTable"/>
          <mycards v-if="!gameOver" class="col-12" id="v-game-step-1" />
      </div>
    </div>
    <div v-else>
      <scoreboard />
      <gametable />
      <mycards v-if="!gameOver" id="v-game-step-1" />
    </div>
  </q-page>
</template>

<script>
  import Gametable from "../components/gametable.vue";
  import Mycards from "../components/mycards.vue";
  import Scoreboard from "../components/scoreboard.vue";

  import tour from "../mixins/tour";

  export default {
    name: "sessionPage",
    data(){
      return {
        isLandscape: false,
        noti: () => void 0
      }
    },
    components: {
      Scoreboard,
      Gametable,
      Mycards,
    },
    computed: {
      gameOver(){
        return this.$store.state.gameOver
      }
    },
    mixins: [tour],
    methods: {
      heroImage() {
        return {
          // backgroundImage: 'url(' + require("../assets/images/landing_page.png") + ')'
          // backgroundColor: "#142850",
          // backgroundImage: 'url("data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'28\' height=\'49\' viewBox=\'0 0 28 49\'%3E%3Cg fill-rule=\'evenodd\'%3E%3Cg id=\'hexagons\' fill=\'%230c7b93\' fill-opacity=\'0.1\' fill-rule=\'nonzero\'%3E%3Cpath d=\'M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z\'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")',
          background: "linear-gradient(0deg, #142850, #00576A 130% ) no-repeat"

        }
      },

      checkOrientation() {
        let self = this;
        if(screen.availHeight > screen.availWidth){
          self.isLandscape = false;
        }
        else{
          self.isLandscape = true;
        }
      }
    },
    mounted(){
      if(!this.$store.state.playerCards.length){
        this.$router.push('/')
      }
      // window.onpopstate = function(event) {
      //   // alert("location: " + document.location + ", state: " + JSON.stringify(event.state));
      // };
      // window.onbeforeunload = function() { return "Session will be lost"; };
      
      if(this.$q.platform.is.mobile){
        let self = this;
        self.checkOrientation();
        window.addEventListener("orientationchange", function() {
          self.checkOrientation();
        })
      }
      
    },
    sockets: {
      error: function(data){
        this.noti();
        this.noti = this.$q.notify({
        message: data.message,
        color: "red",
        timeout: 2500,
        position: !this.$q.platform.is.mobile ? 'top-right': 'top'
      });
      }
    },
  };
</script>

<style scoped>
.scoreboard {
  position: absolute;
  width: 100%;
}

</style>