// app global css in SCSS form
.card-box{
   // border: 1px solid black;
}
.score{
    font-size: 2rem;
    font-weight: bolder;
}
.time-box{
    color: white;
    background-color: black;
}
.blue-score{
    background-color: $team1-opa;
}
.red-score{
    background-color: $team2-opa;
}
.game-table{
    // background-image: radial-gradient(#0C7B93, #00576A);
    background: rgba(0,0,0, 0.3);
    border-radius: 8rem;
}
// .input{
//      border: 1px solid rgb(49, 129, 221); 
// }
.color-primary{
    color: $primary;
}
.color-secondary{
    color: $secondary;
}
.color-team1{
    color: $team1;
}
.color-team2{
    color: $team2;
}
.input.q-field--outlined .q-field__control:before {
    border: 1px solid $secondary;
}
.input.q-field--outlined .q-field__control .q-field__control-container .q-placeholder::placeholder{
    color: $secondary;
    text-align: center;
}
.q-field.q-field--outlined .q-field__control .q-field__control-container .q-placeholder{
    color: $secondary;
}
.url-copy .q-field__inner .q-field__control{
    border-bottom: 2px solid $primary;
}
.url-copy .q-field__inner .q-field__control .q-field__control-container .q-placeholder{
    color: $secondary;
}
.q-btn__content .block{
    font-weight: bold;
}
.tmpBtn:hover{
    background-color: $primary !important;
}
.team1-drag{
    border: 2px solid $team1;
    border-radius: 2rem;
    text-align: center;
    color: $secondary;
    font-weight: bolder;
    background-color: $team1-opa;
}
.team2-drag{
    border: 2px solid $team2;
    border-radius: 2rem;
    text-align: center;
    color: $secondary;
    font-weight: bolder;
    background-color: $team2-opa;
}
.list-group-item{
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.list-group-item:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
input{
    color: $secondary;
}
.round-borders{
    border-radius: 2rem;
}
.height-min-content{
    height: min-content;
}
@font-face {
  font-family: customfont;
  src: url(../assets/fonts/Urbanist-VariableFont_wght.ttf);
}

// declare a class which applies it
.my-font {
  font-family: 'customfont';
}