// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #0C7B93;
$primary-opc: rgba(12,123,147,0.5);
$secondary : #BBE1FA;
$accent    : #9C27B0;

$dark      : #142850;

$positive  :  #45D7EB ;
$negative  : #45EBA5;
$info      : #31CCEC;
$warning   : #F2C037;

$team1     :   #45D7EB ;
$team1-opa :rgba(69, 215, 235, 0.5);
$team2     : #45EBA5;
$team2-opa :rgba(69,235,165,0.5);

