<template>
  <div class="">
    <img :style="{ height: size }" :src="cardName" />
  </div>
</template>

<script>
import * as svgicon from "vue-svgicon";
export default {
  name: "AppIcon",
  data() {
    return {
      size: "4rem",
     
    };
  },
  props: {
    name: {
      type: String,
      required: true,
    },
    cardSize: {
      type: String,
    }
  },
  computed: {
    cardName() {
      return require("../assets/images/cards/"+this.name+".png")

    }
  },
  mounted() {

    if(this.cardSize){
      this.size = this.cardSize
    }
    else{
      this.size = this.$store.getters.getPlatformDetails(this.$q.screen).card;
    }

  },
};
</script>

<style>
.AppIcon {
  display: inline-block;
  height: 1em;
  color: inherit;
  vertical-align: middle;
  stroke: currentColor;
}

.AppIcon--fill {
  fill: currentColor;
  stroke: none;
}

.card_style :hover {
  cursor: grab;
}

/* .AppIcon--s {
  height: 0.5em;
}

.AppIcon--m {
  height: 1em;
}

.AppIcon--l {
  height: 3em;
} */
</style>