<template>
  <div class="WAL position-relative bg-grey-4" :style="style">
    <q-layout view="lHh Lpr lFf" class="WAL__layout shadow-3" container>
      <q-header elevated>
        <q-toolbar class="bg-grey-3 text-black">
          <q-btn
            round
            flat
            icon="keyboard_arrow_left"
            class="WAL__drawer-open q-mr-sm"
            @click="leftDrawerOpen = true"
          />

          <q-btn round flat>
            <q-avatar>
              <img :src="currentConversation.avatar">
            </q-avatar>
          </q-btn>

          <span class="q-subtitle-1 q-pl-md">
            {{ currentConversation.person }}
          </span>

          <q-space/>
        </q-toolbar>
      </q-header>

      <q-drawer
        v-model="leftDrawerOpen"
        show-if-above
        bordered
        :breakpoint="690"
      >
        <q-toolbar class="bg-grey-3">
          <q-avatar class="cursor-pointer">
            <img src="https://cdn.quasar.dev/logo-v2/svg/logo.svg" />
          </q-avatar>

          <q-space />

          <q-btn round flat icon="message" />
          <q-btn round flat icon="group" @click="joinGroupModal=true">
            <q-tooltip>
              Join Group
            </q-tooltip>
          </q-btn>
          <q-btn round flat icon="add_circle_outline" @click="newGroupModal=true">
            <q-tooltip>
              New Group
            </q-tooltip>
          </q-btn>

        </q-toolbar>

        <q-toolbar class="bg-grey-2">
          <q-input rounded outlined dense class="WAL__field full-width" bg-color="white" v-model="search" placeholder="Search or start a new conversation">
            <template slot="prepend">
              <q-icon name="search" />
            </template>
          </q-input>
        </q-toolbar>

        <q-scroll-area style="height: calc(100% - 100px)">
          <q-list>
            <q-item
              v-for="(conversation, index) in conversations"
              :key="conversation.id"
              clickable
              v-ripple
              @click="currentConversationIndex = index"
            >
              <q-item-section avatar>
                <q-avatar>
                  <img :src="conversation.avatar">
                </q-avatar>
              </q-item-section>

              <q-item-section>
                <q-item-label lines="1">
                  {{ conversation.person }}
                </q-item-label>
                <q-item-label class="conversation__summary" caption>
                  <q-icon name="check" v-if="conversation.sent" />
                  <q-icon name="not_interested" v-if="conversation.deleted" />
                  {{ conversation.caption }}
                </q-item-label>
              </q-item-section>

              <q-item-section side>
                <q-item-label caption>
                  {{ conversation.time }}
                </q-item-label>
                <q-icon name="keyboard_arrow_down" />
              </q-item-section>
            </q-item>
          </q-list>
        </q-scroll-area>
      </q-drawer>

      <q-page-container class="bg-grey-2">
        <router-view />
      </q-page-container>

      <q-footer>
        <q-toolbar class="bg-grey-3 text-black row">
          <q-btn round flat icon="insert_emoticon" class="q-mr-sm" />
          <q-input rounded outlined dense class="WAL__field col-grow q-mr-sm" bg-color="white" v-model="message" placeholder="Type a message" />
          <q-btn round flat icon="mic" />
        </q-toolbar>
      </q-footer>
    </q-layout>

    <q-dialog v-model="joinGroupModal">
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">Group url</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-input ref="groupUrlInput" v-model="groupUrl" autofocus @keyup.enter="joinGroup" />
        </q-card-section>

        <q-card-actions align="right" class="text-primary">
          <q-btn flat label="Cancel" v-close-popup />
          <q-btn flat label="Join Group" @click="joinGroup" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="newGroupModal">
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">Group Name</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-input ref="groupNameInput" v-model="groupName" autofocus @keyup.enter="createNewGroup" >
            <template v-slot:append>
              <q-btn round dense flat icon="content_copy" @click="copyToClipboard" />
            </template>
          </q-input>
        </q-card-section>

        <q-card-actions align="right" class="text-primary">
          <q-btn flat label="Cancel" v-close-popup />
          <q-btn flat label="Create Group" @click="createNewGroup" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
// import io from 'socket.io'
import VueSocketIO from 'vue-socket.io'
export default {
  name: 'WhatsappLayout',
  data () {
    return {
      joinGroupModal: false,
      newGroupModal: false,
      groupUrl: '',
      groupName: '',
      socketInstance: null,
      leftDrawerOpen: false,
      search: '',
      message: '',
      currentConversationIndex: 0,
      conversations: [
        {
          id: 1,
          person: 'Goku',
          avatar: '/chatapp/dbz-icon.png',
          caption: 'I\'m working on Quasar!',
          time: '15:00',
          sent: true
        },
        {
          id: 2,
          person: 'Gohan',
          avatar: '/chatapp/gohan.png',
          caption: 'I\'m working on Quasar!',
          time: '16:00',
          sent: true
        },
        {
          id: 3,
          person: 'Piccolo',
          avatar: '/chatapp/piccolo.png',
          caption: 'I\'m working on Quasar!',
          time: '18:00',
          sent: true
        },
        {
          id: 4,
          person: 'Cell',
          avatar: '/chatapp/cell.png',
          caption: 'I\'m working on Quasar!',
          time: '17:00',
          sent: true
        }
      ]
    }
  },
  computed: {
    currentConversation () {
      return this.conversations[this.currentConversationIndex]
    },
    style () {
      return {
        height: this.$q.screen.height + 'px'
      }
    }
  },
  methods: {
    copyToClipboard(){
      let copyText = this.$refs.groupNameInput;
      copyText.select();
      // copyText.setSelectionRange(0, 99999); /* For mobile devices */
      document.execCommand("copy");
    },

    createNewGroup(){
      const params = {
        groupName: this.groupName,
      }
      let url = this.$state.host + '/newgame';
      this.$axios.post(url, params).then(response => {
        if(response.status==201){
          let roomName = response.data.roomName;
          // this.socketInstance = io(`${url}${roomName}`);
          this.socketFeInstance.emit('joinGame', {roomName} );
        }
        else{
          this.$q.notify({
            message: 'Could not create game',
            color: 'purple',
            timeout: 2500,
          })
        }
      })
      .catch(err=> {
        console.log(error)
      });
    },

    joinGroup(){
      // make socket connection and join the group
    }

  },
  mounted() {
    console.log('started app')
    // var socketFeInstance = new VueSocketIO({
    //   debug: false,
    //   connection: 'http://localhost:8000',
    // })
    this.socketInstance = io('http://localhost:8000');
  }
}
</script>

<style lang="sass">
.WAL
  width: 100%
  height: 100%
  padding-top: 20px
  padding-bottom: 20px
  &:before
    content: ''
    height: 127px
    position: fixed
    top: 0
    width: 100%
    background-color: #009688
  &__layout
    margin: 0 auto
    z-index: 4000
    height: 100%
    width: 90%
    max-width: 950px
    border-radius: 5px
  &__field.q-field--outlined .q-field__control:before
    border: none
  .q-drawer--standard
    .WAL__drawer-close
      display: none
@media (max-width: 850px)
  .WAL
    padding: 0
    &__layout
      width: 100%
      border-radius: 0
@media (min-width: 691px)
  .WAL
    &__drawer-open
      display: none
.conversation__summary
  margin-top: 4px
.conversation__more
  margin-top: 0!important
  font-size: 1.4rem
</style>