<template>
  <q-dialog ref="dialog" @hide="onDialogHide">
    <div class="row justify-center text-weight-bold" style="background: linear-gradient(0deg, rgba(20, 40, 80,1), rgba(0, 87, 106,1) 130%) no-repeat; width: 900px; max-width: 80vw; border-radius: 2rem;">
      <div class="col-12 row justify-center">
        <h4 class="text-secondary text-weight-bold">MEET THE TEAM!</h4>
      </div>
      <div class="col-12 row justify-around q-mb-xl">
        <div class="col-xs-12 col-md-3 row juatify-center">
          <div class="col-12 row justify-center">
            <img
              :src="require('../assets/images/pav.png')"
              alt=""
            />
          </div>
          <div class="col-12 row justify-center q-mt-md">
            <span class="text-secondary">PAVAN GADAGI</span>
          </div>
          <div class="col-12 row justify-center q-mt-xs">
            <span class="text-secondary">DEVELOPER</span>
          </div>
          <div class="col-12 row justify-center q-mt-md">
            <div class="col-auto">
              <a href="https://www.linkedin.com/in/pavan-gadagi/" style="text-decoration: none; " target="_blank"><img style=""
                  :src="require('../assets/images/LinkedIn.png')"
                  alt=""
                /></a>
            </div>
            <div class="col-auto">
              <a href="mailto: pavangadagi@gmail.com" style="text-decoration: none; " target="_blank"><img style=""
                  :src="require('../assets/images/Mail.png')"
                  alt=""
                /></a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-3 row juatify-center">
          <div class="col-12 row justify-center">
            <img style="height: 8.4rem"
              :src="require('../assets/images/Abhi.png')"
              alt=""
            />
          </div>
          <div class="col-12 row justify-center q-mt-md">
            <span class="text-secondary">ABHISHEK JAIN</span>
          </div>
          <div class="col-12 row justify-center q-mt-xs">
            <span class="text-secondary">DEVELOPER</span>
          </div>
          <div class="col-12 row justify-center q-mt-md">
            <div class="col-auto">
              <a href="https://www.linkedin.com/in/abhishek-jain-322258130/" style="text-decoration: none; " target="_blank"><img style=""
                  :src="require('../assets/images/LinkedIn.png')"
                  alt=""
                /></a>
            </div>
            <div class="col-auto">
              <a href="mailto: abhishekaj94@gmail.com" style="text-decoration: none; " target="_blank"><img style=""
                  :src="require('../assets/images/Mail.png')"
                  alt=""
                /></a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-3 row juatify-center">
          <div class="col-12 row justify-center">
            <img
              :src="require('../assets/images/Sora.png')"
              alt=""
            />
          </div>
          <div class="col-12 row justify-center">
            <span class="text-secondary">SOURABHA PRABHU</span>
          </div>
          <div class="col-12 row justify-center q-mt-xs">
            <span class="text-secondary">UX / UI DESIGNER</span>
          </div>
          <div class="col-12 row justify-center q-mt-md">
            <div class="col-auto">
              <a href="https://www.linkedin.com/in/sourabhaprabhu/" style="text-decoration: none; " target="_blank"><img style=""
                  :src="require('../assets/images/LinkedIn.png')"
                  alt=""
                /></a>
            </div>
            <div class="col-auto">
              <a href="mailto: sourabhaprabhu26@gmail.com" style="text-decoration: none; " target="_blank"><img style=""
                  :src="require('../assets/images/Mail.png')"
                  alt=""
                /></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </q-dialog>
</template>

<script>
export default {
  props: {
    // ...your custom props
  },

  methods: {
    // following method is REQUIRED
    // (don't change its name --> "show")
    show () {
      this.$refs.dialog.show()
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide () {
      this.$refs.dialog.hide()
    },

    onDialogHide () {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide')
    },

    onOKClick () {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok')
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide()
    },

    onCancelClick () {
      // we just need to hide dialog
      this.hide()
    }
  }
}
</script>