<template>
    <div :class="classNames">
    <ins
      className="adsbygoogle"
      :style="{display: 'block'}"
      :data-ad-client="googleAdId"
      :data-ad-slot="googleSlot"
      data-ad-format="auto"
      data-full-width-responsive="true"
    ></ins>
  </div>
</template>
<script>
export default {
  name: "GoogleAd",
  props: {
    timeout: Number,
    classNames: String,
    googleSlot: String
  },
  data() {
    return {
      googleInit: null,
      googleAdId: "ca-pub-6084949858830532"
    };
  },
  mounted() {
  	let timeout = 200;
    if(this.timeout) timeout = this.timeout;
    this.googleInit = setTimeout(() => {
      if (typeof window !== "undefined")
        (window.adsbygoogle = window.adsbygoogle || []).push({});
    }, timeout);
  },
  destroyed() {
    if (this.googleInit) clearTimeout(this.googleInit);
  }
};
</script>
