<template>
  <div :class="{ 'q-mt-sm': !this.$q.platform.is.mobile }">
    <!-- game dialog box -->
    <q-dialog v-model="abortGame" persistent>
      <q-card
        style=" background: linear-gradient(0deg,rgba(20, 40, 80, 1),rgba(0, 87, 106, 1) 130%)no-repeat;  border-radius: 2rem;"
      >
        <q-card-section>
          <div class="text-h6 text-secondary">Alert</div>
        </q-card-section>

        <q-card-section class="q-pt-none text-secondary text-weight-bold">
          {{ abortMessage }}
        </q-card-section>

        <q-card-actions vertical align="right" class="q-mb-sm q-mr-md">
          <q-btn
            color="secondary q-mt-sm"
            class="tmpBtn"
            rounded
            outline
            size="md"
            label="HOME"
            @click="home()"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- game dialog end -->

    <!-- desktop view -->
    <div v-if="!this.$q.platform.is.mobile">
      <div class="row justify-center q-mb-md">
        <div class="col-xs-11 col-md-4 row justify-center">
          <player
            id="v-game-step-2"
            :playerDetails="this.$store.state.users[this.turns[0]]"
            :trumpOpened="trumpOpened"
            :trumpCard="trumpCard"
            playerId="animPlayer1"
            :isOwner="this.$store.state.users[this.turns[0]].id == this.$store.state.playerId"
            @openTrump="openTrump()"
          >
          </player>
          <player
            :playerDetails="this.$store.state.users[this.turns[1]]"
            :trumpOpened="trumpOpened"
            :trumpCard="trumpCard"
            playerId="animPlayer2"
            :isOwner="this.$store.state.users[this.turns[1]].id == this.$store.state.playerId"
            @openTrump="openTrump()"
          >
          </player>
        </div>
      </div>
      <div class="row justify-center">
        <Drop class="row col-12 justify-center" @drop="handleDrop">
          <div
            v-if="!gameOver"
            class="col-xs-11 col-md-4 row game-table shadow-8 justify-center"
            :style="responsiveSizes.table"
          >
            <div class="col-xs-4 col-sm-4 row q-py-md">
              <div class="col-12 row justify-center">
                <cardssvg
                  class="player1"
                  v-if="showFstPlayerCard"
                  :name="showFstPlayerCard"
                ></cardssvg>
              </div>
              <div class="col-12 row justify-center items-end">
                <cardssvg
                  class="player4"
                  v-if="showFthPlayerCard"
                  :name="showFthPlayerCard"
                ></cardssvg>
              </div>
            </div>
            <div class="col-xs-4 col-sm-4 row q-py-md">
              <div class="col-12 row justify-center">
                <cardssvg
                  class="player2"
                  v-if="showSecPlayerCard"
                  :name="showSecPlayerCard"
                ></cardssvg>
              </div>
              <div class="col-12 row items-end justify-center">
                <cardssvg
                  class="player3"
                  v-if="showTrdPlayerCard"
                  :name="showTrdPlayerCard"
                ></cardssvg>
              </div>
            </div>
          </div>
          <!-- <q-btn v-if="isHost" color="secondary q-mt-md" rounded size="md" label="New Game" @click="startNewGame()"></q-btn> -->
          <div
            v-if="gameOver"
            class="col-xs-11 col-md-4 row game-table shadow-8 justify-center"
            :style="responsiveSizes.table"
          >
            <div class="col-12 row justify-center items-center">
              <div class="col-12 row justify-center">
                <span class="text-h3 text-weight-bolder text-secondary">
                  GAME OVER!
                </span>
              </div>
              <div class="col-12 row justify-center">
                <span
                  class="q-mt-md text-h4 text-uppercase text-weight-bolder"
                  :class="winningClass"
                >
                  {{ winningTeam }} won the game
                </span>
              </div>
              <div class="col-12 row justify-center">
                <div class="col-auto q-mr-md">
                  <q-btn
                    color="secondary q-mt-sm"
                    class="tmpBtn"
                    rounded
                    outline
                    size="md"
                    :disable="!isHost"
                    label="New Game"
                    @click="startNewGame()"
                    ><q-tooltip content-class="bg-secondary text-black">
                      Only host can start a new game
                    </q-tooltip>
                  </q-btn>
                </div>
                <div class="col-auto q-ml-md">
                  <q-btn
                    color="secondary q-mt-sm"
                    class="tmpBtn"
                    rounded
                    outline
                    size="md"
                    label="HOME"
                    @click="home()"
                  />
                </div>
              </div>
              <div class="col-12 row justify-center align-center">
                 <span
                  class="q-mt-md text-h6 text-weight-bolder"
                  :class="winningClass"
                >
                  Help us improve
                  <a style="cursor: pointer; text-decoration: none;" class="text-primary" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfW3fx2by6tOLt9T30LWS6f5XV-Raz2ILx-pcVdU1Ev_9AlGA/viewform">
                    <q-btn
                      color="accent"
                      class="tmpBtn"
                      rounded
                      outline
                      size="md"
                      label="Submit Feedback"
                    />
                  </a>
                </span>
              </div>
            </div>
          </div>
        </Drop>
      </div>
      <div class="row justify-center q-mt-md">
        <div class="col-xs-11 col-md-4 row justify-center">
          <player
            :playerDetails="this.$store.state.users[this.turns[3]]"
            :trumpOpened="trumpOpened"
            :trumpCard="trumpCard"
            playerId="animPlayer4"
            :isOwner="this.$store.state.users[this.turns[3]].id == this.$store.state.playerId"
            @openTrump="openTrump()"
          >
          </player>
          <player
            :playerDetails="this.$store.state.users[this.turns[2]]"
            :trumpOpened="trumpOpened"
            :trumpCard="trumpCard"
            playerId="animPlayer3"
            :isOwner="this.$store.state.users[this.turns[2]].id == this.$store.state.playerId"
            @openTrump="openTrump()"
          >
          </player>
        </div>
      </div>
    </div>

    <!-- mobile view -->
    <div v-if="this.$q.platform.is.mobile">
      <img
        v-if="!gameOver"
        width="25%"
        class="center-img"
        :src="require('../assets/images/logo.png')"
        alt=""
      />
      <div class="row justify-center q-ma-md">
        <div class="col-12 row justify-center">
          <player
            class="col-auto"
            :playerDetails="this.$store.state.users[this.turns[0]]"
            :trumpOpened="trumpOpened"
            :trumpCard="trumpCard"
            playerId="animPlayer1"
            :isOwner="this.$store.state.users[this.turns[0]].id == this.$store.state.playerId"
            @openTrump="openTrump()"
          >
          </player>
        </div>
        <div class="col-12 row justify-center" style="min-height: 3.2rem">
          <Drop class="" @drop="handleDrop">
            <cardssvg
              class="player1"
              v-if="showFstPlayerCard"
              :name="showFstPlayerCard"
            ></cardssvg>
          </Drop>
        </div>
        <div class="col-12 row justify-around">
          <player
            class="col-3"
            :playerDetails="this.$store.state.users[this.turns[3]]"
            :trumpOpened="trumpOpened"
            :trumpCard="trumpCard"
            trumpSide="right"
            :isOwner="this.$store.state.users[this.turns[3]].id == this.$store.state.playerId"
            playerId="animPlayer4"
            @openTrump="openTrump()"
          >
          </player>
          <Drop
            v-if="!gameOver"
            class="col-2 row content-center"
            @drop="handleDrop"
          >
            <cardssvg
              class="player4"
              v-if="showFthPlayerCard"
              :name="showFthPlayerCard"
            ></cardssvg>
          </Drop>
          <Drop
            v-if="!gameOver"
            class="col-2 row content-center"
            style="justify-content: flex-end"
            @drop="handleDrop"
          >
            <cardssvg
              class="player2"
              v-if="showSecPlayerCard"
              :name="showSecPlayerCard"
            ></cardssvg>
          </Drop>
          <div
            v-if="gameOver"
            class="col-4 col-md-4 row game-table shadow-8 justify-center"
            :style="responsiveSizes.table"
          >
            <div class="col-12 row justify-center items-center" >
              <div class="col-12 row justify-center">
                <span class="text-h5 text-weight-bolder text-secondary">
                  GAME OVER
                </span>
              </div>
              <div class="col-12 row justify-center">
                <span
                  class="q-mt-md text-h6 text-uppercase text-weight-bolder"
                  :class="winningClass"
                >
                  {{ winningTeam }} won the game
                </span>
              </div>
              <div class="col-12 row justify-center">
                <div class="col-auto q-mr-md">
                  <q-btn
                    color="secondary q-mt-sm"
                    class="tmpBtn"
                    rounded
                    outline
                    size="md"
                    :disable="!isHost"
                    label="New Game"
                    @click="startNewGame()"
                    ><q-tooltip content-class="bg-secondary text-black">
                      Only host can start a new game
                    </q-tooltip>
                  </q-btn>
                </div>
                <div class="col-auto q-ml-md">
                  <q-btn
                    color="secondary q-mt-sm"
                    class="tmpBtn"
                    rounded
                    outline
                    size="md"
                    label="HOME"
                    @click="home()"
                  />
                </div>
              </div>
              <div class="col-12 q-mt-md row justify-center align-center">
                 <span
                  class="q-mt-md text-h6 text-weight-bolder"
                  :class="winningClass"
                >
                  <div class="col-auto">
                    Help us improve
                  </div>
                  <div class="col-auto">
                  <a style="cursor: pointer; text-decoration: none;" class="text-primary" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfW3fx2by6tOLt9T30LWS6f5XV-Raz2ILx-pcVdU1Ev_9AlGA/viewform">
                    <q-btn
                      color="accent"
                      class="tmpBtn"
                      rounded
                      outline
                      size="md"
                      label="Submit Feedback"
                    />
                  </a>
                  </div>
                </span>
              </div>
            </div>
          </div>
          <player
            class="col-3"
            :playerDetails="this.$store.state.users[this.turns[1]]"
            :trumpOpened="trumpOpened"
            :trumpCard="trumpCard"
            playerId="animPlayer2"
            :isOwner="this.$store.state.users[this.turns[1]].id == this.$store.state.playerId"
            @openTrump="openTrump()"
          >
          </player>
        </div>
        <div class="col-12 row justify-center" style="min-height: 3.2rem">
          <Drop class="" @drop="handleDrop">
            <cardssvg
              class="player3"
              v-if="showTrdPlayerCard"
              :name="showTrdPlayerCard"
            ></cardssvg>
          </Drop>
        </div>
      </div>
    </div>

    <div
      v-if="startTimer"
      style="position: absolute; top: 1rem; right: 3rem"
      class=""
    >
      <span class="text-secondary text-h2 text-weight-bold">{{
        roundStartTimer
      }}</span>
    </div>
  </div>
</template>
<script>
import animation from "./../mixins/animation";
import cardssvg from "../components/cardsSVG.vue";
import player from "../components/player.vue";
import { Drag, Drop } from "vue-drag-drop";
import _ from "lodash";
export default {
  name: "Gametable",
  data() {
    return {
      tempP: {
        avatar: "1",
        hasTrump: false,
        id: "fRJQcpAgmGaOrmtYAAAJ",
        isHost: true,
        screenName: "aaa",
        team: "blue",
      },
      noOfPlayers: 4,
      value: 88,
      activeValue: 0,
      timeOut: {},
      responsiveSizes: {},
      animate: new Array(),
      playerLoading: new Array(this.noOfPlayers),
      cardsDistributionComplete: false,
      cardsDistributeAni: new Array(),
      cardFlip: null,
      turns: this.$store.state.turns,
      abortGame: false,
      abortMessage: "The Game is over",
      trumpCard: "CB",
      trumpOpened: false,
      trumpType: "",
      trumpOpenedByMy: false,
      winningTeam: "",
      winningClass: {},
      trumpFullCard: {},
      newRoundInterval: undefined,
      startTimer: false,
      roundStartTimer: 5,
      isHost: false,
    };
  },
  mixins: [animation],
  computed: {
    // timerVal() {
    //   return this.turnTimer;
    // },
    hide: function () {
      return {
        hidde: this.cardsDistributionComplete,
      };
    },
    cardsPlayed() {
      return this.$store.state.roundDetails.cardsPlayed;
    },
    showFstPlayerCard() {
      for (var cardIndex in this.cardsPlayed) {
        var card = this.cardsPlayed[cardIndex];
        if (card.player == this.turns[0]) {
          return card.card.imgName;
        }
      }
      return false;
    },
    showSecPlayerCard() {
      for (var cardIndex in this.cardsPlayed) {
        var card = this.cardsPlayed[cardIndex];
        if (card.player == this.turns[1]) {
          return card.card.imgName;
        }
      }
      return false;
    },
    showTrdPlayerCard() {
      for (var cardIndex in this.cardsPlayed) {
        var card = this.cardsPlayed[cardIndex];
        if (card.player == this.turns[2]) {
          return card.card.imgName;
        }
      }
      return false;
    },
    showFthPlayerCard() {
      for (var cardIndex in this.cardsPlayed) {
        var card = this.cardsPlayed[cardIndex];
        if (card.player == this.turns[3]) {
          return card.card.imgName;
        }
      }
      return false;
    },
    avatarLoaderValue() {
      return [
        this.playerLoading[0],
        this.playerLoading[1],
        this.playerLoading[2],
        this.playerLoading[3],
      ];
    },
    gameOver() {
      return this.$store.state.gameOver;
    },
  },

  methods: {
    startNextRoundTimer() {
      this.startTimer = true;
      var self = this;
      this.$bus.emit("stopDragable", true);
      this.roundStartTimer = 5;
      this.newRoundInterval = setInterval(function () {
        self.roundStartTimer -= 1;
        if (self.roundStartTimer == 1) {
          let winnerIndex = _.indexOf(
            self.$store.state.turns,
            self.$store.state.roundDetails.currentTurn
          );
          self.winningAnimation(winnerIndex);
        }
        if (self.roundStartTimer == 0) {
          clearInterval(self.newRoundInterval);
          self.startTimer = false;
          self.$bus.emit("stopDragable", false);
        }
      }, 1000);
    },
    home() {
      var params = {
        gameId: this.$store.state.gameId,
      };
      this.$socket.client.emit("playerDisconnected", params);
      this.$socket.client.disconnect();
      this.$store.commit("resetState", false);
      // this.$socket.client.emit("resetGame", params);
      this.$router.push("/");
    },
    // this fn is also there in scoreboard component
    startNewGame() {
      let params = {
        gameId: this.$store.getters.getGameId,
      };
      // this.$store.dispatch("resetState", true);
      // this.$socket.client.emit("resetGame", params);
      this.$socket.client.emit("startNewGameAgain", params);
      this.gameOver = false;
    },
    handleDrop(data, event) {
      if (this.gameOver) {
        return;
      }

      // if the current person opend the trump this round he has to play a trump card

      if (this.trumpOpenedByMy && this.trumpOpened) {
        // make sure card played it trump
        let card = data.item;
        if (card.type != this.trumpFullCard.type) {
          let cardsInHand = this.$store.state.playerCards;
          if (
            _.findIndex(cardsInHand, ["type", this.trumpFullCard.type]) >= 0
          ) {
            this.$q.notify({
              message:
                "You have to play card with same suit as trump card since you opened trump",
              color: "red",
              position: !this.$q.platform.is.mobile ? "top-right" : "top",
              timeout: 5000,
            });
            return;
          } else {
            // he is playeing right so make it false coz its only for this round
            this.trumpOpenedByMy = false;
          }
        } else {
          // he is playeing right so make it false coz its only for this round
          this.trumpOpenedByMy = false;
        }
      }
      let params = {
        gameId: this.$store.state.gameId,
        card: data.item,
      };
      this.$socket.client.emit("cardPlayed", params);
    },
    openTrump() {
      this.$socket.client.emit("trumpOpened", {
        gameId: this.$store.state.gameId,
      });
    },
  },
  components: {
    cardssvg,
    Drop,
    player,
  },
  sockets: {
    gameOver: function (data) {
      if (data.winnindTeam == "red") {
        this.winningTeam = "Titans";
        this.winningClass = {
          "color-team2": true,
        };
      } else {
        this.winningTeam = "Ninjas";
        this.winningClass = {
          "color-team1": true,
        };
      }
      this.$store.commit("gameOver");
    },
    trumpOpened: function (data) {

      this.trumpCard = data.trumpCard.imgName;
      this.trumpFullCard = data.trumpCard;
      this.$store.commit("addTrumpToPlayerhand", data);
      this.cardFlips(".trump");
      this.trumpOpened = true;
      this.$store.commit("trumpOpened", data.trumpCard);
      this.trumpType = data.trumpCard.type;
    },
    trumpOpenedByMy: function () {
      this.trumpOpenedByMy = true;
    },
    playerDisconnected: function (data) {
      if (data.removePlayer) {
        var playerName = this.$store.state.users[data.removePlayer].screenName;
        this.abortMessage =
          "Game cant be continued since " + playerName + " left the game";
        // this.$store.dispatch("removeUser", data.removePlayer);
        if (!this.gameOver) {
          this.abortGame = true;
        }

        this.$q.notify({
          message: playerName + " left the game",
          color: "red",
          timeout: 2500,
          position: !this.$q.platform.is.mobile ? "top-right" : "top",
        });
      }
    },
    roundStart: function (data) {
      data["isMobile"] = this.$q.platform.is.mobile;
      this.$store.commit("initRound", data);
      // this.$store.dispatch('reOrderTruns')
    },
    restartGame: function (data) {
      // starting a new game again
      this.$store.dispatch("resetState", true);
      this.$router.push("/");
    },
  },
  watch: {
    "$store.state.roundDetails.roundNo"(newRound, prevRound) {
      //  this.startTimer();
      // if(newRound > 1){

      // }
      this.startNextRoundTimer();
    },
  },
  mounted() {
    // this.gameOver = true;
    this.responsiveSizes = this.$store.getters.getPlatformDetails(
      this.$q.screen
    );
    this.distributeCards();
    // this.startNextRoundTimer()
    // this.winningAnimation(false)
    this.isHost = this.$store.getters.getPlayerInfo.isHost;
  },
  created() {
    var self = this;
    window.addEventListener(
      "beforeunload",
      function (event) {
        var params = {
          gameId: self.$store.state.gameId,
        };
        self.$socket.client.emit("playerDisconnected", params);
      },
      false
    );
  },
};
</script>
<style scoped>
.hidde {
  display: none;
}
.trump {
  position: relative;
  transform-style: preserve-3d;
}

.front,
.back {
  display: flex;

  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.front {
  color: #fff;
  background: #2196f3;
}

.back {
  position: absolute;
  top: 0;
  left: 0;

  transform: rotateY(180deg);

  color: #2196f3;
  background: #fff;
}
.center-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.1;
}

.vis-hide {
  visibility: hidden;
}
.vis-show {
  visibility: visible;
}
</style>