<template>
  <div>
    <q-dialog v-model="showComfirmdialog">
      <q-card>
        <q-card-section class="row justify-center items-center">
          <cardssvg cardSize="10rem" :name="this.selectedCard.imgName"></cardssvg>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Play" @click="submitCard()"  color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>


    <div class="q-mt-md" position="bottom" >
      <div class="row justify-center">
        <div v-if="!this.$q.platform.is.mobile" class="col-auto row">
          <div v-for="(item, i) in myCards" :key="i">
            <div :id="item.imgName" :class="[reverseString(item.imgName),isCardsPlayable ? 'cardPlayable' : 'cardDisabled']" @mouseover="callHoverAnim(item.imgName,true)" @mouseleave="callHoverAnim(item.imgName,false)" class="col-auto card-box q-ma-xs cardsInHand ">
              <Drag :draggable="isCardsPlayable" :transfer-data="{ item }" @dragend="cardSent(item)">
                <cardssvg  v-if="!item.isPlayed" :name="item.imgName"></cardssvg>
              </Drag>
            </div>
          </div>
        </div>

        <div v-if="this.$q.platform.is.mobile" class="col-12 row justify-around">
          <!-- player icon and loader -->
          <div class="col-4">
            <player
              class="col-3"
              :playerDetails="this.$store.state.users[this.$store.state.turns[2]]"
              :trumpOpened="isTrumpOpened"
              :trumpCard="trumpCard"
              trumpSide="right"
              playerId="animPlayer3"
              :isOwner="this.$store.state.users[this.$store.state.turns[2]].id == this.$store.state.playerId"
              @openTrump="openTrump()"
            >  </player>
          </div>
          <!-- cards -->
          <!-- :style="{ marginLeft: (myCards.length*-5)+'px' }" -->
          <div class="col-7 justify-start content-center grid-container">
            <div  :style="{ zIndex: i}"   v-for="(item, i) in myCards" :key="i">
              <div :id="item.imgName">
                <div :draggable="isCardsPlayable" @click="submitCard(item)">
                  <cardssvg v-if="!item.isPlayed" :name="item.imgName"></cardssvg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import animation from "./../mixins/animation";
import commFunctions from "./../mixins/commonFunctions";
import { mapGetters, mapActions } from "vuex";
import cardssvg from "../components/cardsSVG.vue";
import player from "../components/player.vue";
import { Drag, Drop } from "vue-drag-drop";
import { ref } from 'vue'
export default {
  name: "Mycards",
  data() {
    return {
      trumpOpened: false,
      trumpCard: "CB",
      selectedCard: '', // not used anymore
      showComfirmdialog: false,
      roundEnd: false,
      noti: () => void 0
    };
  },
  mounted() {
    // stopDragable
    this.$bus.on('stopDragable', this.dragableStatusForRoundEnd);
  },
  computed: {
    myCards(){
      let cards = this.$store.state.playerCards
      let sortedCards = _.sortBy(cards,['type','rank'])
      return _.filter(sortedCards, function(o) { return !o.isPlayed; });; // only show cards whos isPlayed is false
    },
    isTrumpOpened(){
      let val = this.$store.state.trumpOpened;
      if(val){
        this.trumpCard = this.$store.state.trumpCard.name;
      }
      return val;
    },
    currentAvatar(){
      return require("../assets/images/avatars/" + this.$store.state.users[this.$store.state.roundDetails.currentTurn].avatar + ".png");
    },
    isCardsPlayable(){
      this.noti();
      if(this.$store.state.playerId == this.$store.state.roundDetails.currentTurn && !this.roundEnd){
        this.noti = this.$q.notify({
          message: "It is your turn to play",
          color: this.$store.state.users[this.$store.state.roundDetails.currentTurn].team == 'red' ? "negative": "positive",
          textColor: "black",
          timeout: 2500,
          avatar: this.currentAvatar,
          position: !this.$q.platform.is.mobile ? 'top-right': 'top'
          
        });
        return true;
      }
      if(this.roundEnd){
        this.noti = this.$q.notify({
          message: this.$store.state.users[this.$store.state.roundDetails.currentTurn].screenName +" won the turn",
          color: this.$store.state.users[this.$store.state.roundDetails.currentTurn].team == 'red' ? "negative": "positive",
          textColor: "black",
          timeout: 2500,
          avatar: this.currentAvatar,
          position: !this.$q.platform.is.mobile ? 'top-right': 'top'
        });
      }
      else{
        this.noti = this.$q.notify({
          message: "It is "+this.$store.state.users[this.$store.state.roundDetails.currentTurn].screenName +" turn to play",
          color: this.$store.state.users[this.$store.state.roundDetails.currentTurn].team == 'red' ? "negative": "positive",
          textColor: "black",
          timeout: 2500,
          avatar: this.currentAvatar,
          position: !this.$q.platform.is.mobile ? 'top-right': 'top'
        });
      }
      return false;
    }
  },
  methods: {
    openTrump(){
      this.$socket.client.emit("trumpOpened", {
        gameId: this.$store.state.gameId,
      });
    },
    dragableStatusForRoundEnd(val){
      this.roundEnd = val
    },
    cardSent(item) {
      // let params = {
      //     gameId: this.$store.state.gameId,
      //     card: item
      //   };
      // this.$socket.client.emit("cardPlayed", params);
    },
    submitCard(card){
      if(this.isCardsPlayable && !this.roundEnd){
        let params = {
          gameId: this.$store.state.gameId,
          card: card
        };
        this.$socket.client.emit("cardPlayed", params);
      }
    },
    callHoverAnim(item,start){
      let res = this.reverseString(item)
      let stringVal = "."+res;
      this.cardHover(document.querySelectorAll(stringVal),start);
    }
  },
  sockets: {
    cardPlayed: function (round) {
      this.$store.commit('updateRound', round);
    }
    
  },
  components: {
    cardssvg,
    Drag,
    player,
  },
  mixins: [animation,commFunctions],
};
</script>
<style scoped>
  .cardPlayable:hover{
    opacity: 0.7;
    cursor: grab;
  }
  .cardDisabled:hover{
    opacity: 0.7;
    cursor: no-drop;
  }
  .cardPlayable:active {
    cursor: grabbing;
  }
  .overlapAllCards{
    margin-left: -25px
  }
  .overlapHalfCards{
    margin-left: -10px
  }
  .overlapFewCards{
    margin-left: -5px
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8.2%, 1fr));
    grid-template-rows: [row1] auto;
    grid-auto-flow: column dense;
  }
</style>