<template>
  <div class="col-xs-4 col-sm-4 content-center row justify-center">
    <div v-if="playerDetails.hasTrump && trumpSide == 'right'" class="col-auto row items-center q-mr-sm cardPlayable trump" @click="openTrump()">
      <!-- there are 2 cards due to flip card animation -->
      <cardssvg id="v-game-step-0" class=" front"  name="CB"></cardssvg>
      <cardssvg class="back"  :name="trumpCard"></cardssvg>
    </div>
    <div class="col-auto column items-center" >
        <q-circular-progress
          :id="playerId"
          show-value
          class=""
          :max=30
          :min=0
          :value="turnTimer"
          :size="responsiveSizes.avatarProgress"
          :thickness="0.2"
          :color="playerColor"
          center-color="grey-8"
          track-color="white"
        >
        <q-avatar :size="responsiveSizes.avatar">
          <img :src="currentAvatar" />
        </q-avatar>
      </q-circular-progress>
      <span class=" text-center" :class="{'text-negative': this.playerDetails.team == 'red', 'text-positive': this.playerDetails.team != 'red', 'text-subtitle1': this.$q.platform.is.mobile, 'text-h6':!this.$q.platform.is.mobile }">{{playerDetails.screenName}}</span>
    </div>
    <div v-if="playerDetails.hasTrump && trumpSide == 'left'" class="col-auto row items-center q-ml-sm cardPlayable trump" @click="openTrump()">
      <!-- there are 2 cards due to flip card animation -->
      <cardssvg id="v-game-step-0" class=" front"  name="CB"></cardssvg>
      <cardssvg class=" back"  :name="trumpCard"></cardssvg>
    </div>
    <v-tour name="gameTour" :steps="gameSteps" :callbacks="gameCallback" :options="options"></v-tour>
  </div>
</template>
<script>
import cardssvg from './cardsSVG.vue';
import tour from "../mixins/tour";

export default {
   name: "Player",
  data() {
    return {
      responsiveSizes: {},
      turnTimer: 30,
      timerInstance: null,
      playerColor: '',
    }
  },
  props: {
    playerDetails: {
      type: Object,
      required: true,
    },
    trumpOpened: {
      type: Boolean,
      required: true,
    },
    trumpCard: {
      type: String,
      required: true
    },
    playerId:{
      type: String,
    },
    // default is left, if you want it right pass 'right' as trumpSide
    trumpSide: {
      type: String,
      default: 'left'
    },
    isOwner: {
      type: Boolean,
      default: false
    }
  },
  components:{
    cardssvg,
  },
  mixins: [tour],
   methods: {
     openTrump(){
       this.$emit('openTrump');
     },
     startTimer(){
      let self = this;
      if(self.timerInstance){
        clearInterval(self.timerInstance);
        self.timerInstance = null
        self.turnTimer = 30
      }
      if(!this.$store.state.gameOver){
        if (this.playerDetails.id == this.$store.state.roundDetails.currentTurn) {

          self.turnTimer = 0;
          self.timerInstance = setInterval(function(){
            if(self.turnTimer == 30) {
              // self.turnTimer = 0;
              if(!self.$store.state.gameOver){
                // self.$socket.client.emit("turnTimedOut", { gameId: self.$store.state.gameId, });
              if(self.isOwner){
                let card = self.$store.getters.getPlayableCard;
                if(card == null){
                  this.$q.notify({
                    message:
                      "Player needs to open trump",
                    color: "red",
                    position: !this.$q.platform.is.mobile ? "top-right" : "top",
                    timeout: 5000,
                  });
                }
                else{
                  let params = {
                    gameId: self.$store.state.gameId,
                    card: card,
                  };
                  self.$socket.client.emit("cardPlayed", params);
                }
                
              }
              clearInterval(self.timerInstance);
              } 
            }
            self.turnTimer++;
          }, 1000)
        }
        else {
          if(self.timerInstance){
            clearInterval(self.timerInstance);
            self.turnTimer = 30
          }
        }
      }
    }
   },
   computed: {
    currentTurn() {
      return this.$store.state.roundDetails.currentTurn
    },
    roundNo() {
      return this.$store.state.roundDetails.roundNo
    },
    currentAvatar(){
      return require("../assets/images/avatars/" + this.playerDetails.avatar + ".png");
    }
   },
   watch: {
     currentTurn() {
       this.startTimer();
     },
     roundNo() {
       if(this.timerInstance){
         clearInterval(this.timerInstance);
         this.turnTimer = 30;
       }
       let self = this;
       setTimeout(() => {
         self.startTimer()
       }, 5000);
     }
   },
   mounted() {
     this.responsiveSizes = this.$store.getters.getPlatformDetails(this.$q.screen);
     this.startTimer();
     if(this.playerDetails.team == 'red'){
       this.playerColor = 'negative'
     }
     else{
       this.playerColor = 'positive'
     }
     if(this.playerDetails.hasTrump){
       this.m_showTrumpTour()
     }
    //  this.playerDetails     
   },
   beforeUnmount(){
    clearInterval(this.timerInstance);
   }
}
</script>
<style scoped>
  .cardPlayable:hover{
    opacity: 0.7;
    cursor: grab;
  }
  .cardPlayable:active {
    cursor: grabbing;
  }
  .trump
  {
      transform-style: preserve-3d;
  }
  .front,
  .back
  {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      backface-visibility: hidden;
  }
  .back
  {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotateY(180deg);
  }
</style>