<template>
  <div>
    <!-- Desktop View -->
    <div v-if=!isMobile style="position: absolute; top: 0.4rem; left: 1rem; cursor: pointer;">
              <div class="col-8 column justify-end">
          <div class=" row justify-center ">
            <img
              :class="{
                mendi_image_width_mobile: isMobile,
              }"
              style="height: 3rem;"
              :src="require('../assets/images/logo.png')"
              alt=""
            />
          </div>
            <div class=" row justify-center">
              <span class="text-secondary text-h6 text-weight-bolder"
                >Mendicot</span 
              >
            </div>
        </div>
    </div>
    <div v-if=!isMobile class="parent row q-pb-sm" :style="borderCss">
      <!-- ninjas score -->
      <div class="left score-background row reverse col-5 q-py-sm" style="border-radius: 0rem 0rem 0rem 2rem">
        <div class="col-auto  q-mx-xl row items-center">
          <span class="text-h6 color-team1 text-weight-bold">NINJAS</span>
        </div>
        <div class="col-auto q-mx-md text-white column  items-center">
          <span class="text-subtitle1 text-weight-bold text-secondary">TOTAL</span>
          <span class="text-center text-subtitle1 color-team1 text-weight-bold">{{scoreboard.blue.roundsWon}}</span>
        </div>
        <div class="col-auto row text-white  items-center">
          <div v-for="mendi in scoreboard.blue.mendi" :key="mendi.imgName" class="col-auto q-mx-xs">
          <!-- smaller card and less spaces for small laptop screen -->
            <cardssvg class="lt-lg" :name="mendi.imgName" cardSize="2.5rem"></cardssvg>
            <!-- bigger card and more spaces for bigger laptop screen -->
            <cardssvg class="gt-md" :name="mendi.imgName" cardSize="3rem"></cardssvg>
          </div>
        </div>
        
      </div>
      <div class="center text-white column score-background q-py-sm">
        <span class="text-subtitle1 text-weight-bold text-secondary">ROUND</span>
        <span class="text-center text-subtitle1 text-weight-bold">{{scoreboard.red.roundsWon + scoreboard.blue.roundsWon}}</span>
      </div>
      <!-- titans score -->
      <div class="right row col-5 score-background q-py-sm" style="border-radius: 0rem 0rem 2rem 0rem"> 
        <div class="col-auto q-mx-xl row row items-center">
          <span class="text-h6 color-team2 text-weight-bold">TITANS</span>
        </div>
        <div class="col-auto q-mx-md text-white column  items-center">
          <span class="text-subtitle1 text-weight-bold text-secondary">TOTAL</span>
          <span class="text-center text-subtitle1 color-team2 text-weight-bold">{{scoreboard.red.roundsWon}}</span>
        </div>
        <div v-for="mendi in scoreboard.red.mendi" :key="mendi.imgName" class="col-auto  q-mx-sm">
          <cardssvg :name="mendi.imgName" cardSize="3rem"></cardssvg>
        </div>
      </div>
    </div>

    <!-- Mobile view -->
    <div v-if=isMobile class="parent-mobile row ">
      <!-- ninjas score -->
      <div class="ninja-score-mob row reverse q-py-xs col-3">
        <div class="col-auto q-mx-md text-white column  items-center">
          <span class="text-subtitle1 color-team1 text-weight-bold">NINJAS</span>
          <span class="text-center text-subtitle1 color-team1 text-weight-bold">{{scoreboard.blue.roundsWon}}</span>
        </div>
        <div class="col-auto row">
          <div v-for="(mendi, index) in scoreboard.blue.mendi" :key="mendi.imgName" class="col-auto q-mx-xs">
            <cardssvg :name="mendi.imgName" cardSize="3rem" :class="{ 'cardStack' : index !== scoreboard.blue.mendi.length }"></cardssvg>
          </div>
        </div>
      </div>

      <!-- titans score -->
      <div class="titan-score-mob row q-py-xs col-3"> 
        <div class="col-auto q-mx-md text-white column  items-center">
          <span class="text-subtitle1 color-team2 text-weight-bold">TITANS</span>
          <span class="text-center text-subtitle1 color-team2 text-weight-bold">{{scoreboard.red.roundsWon}}</span>
        </div>
        <div class="col-auto row">
          <div v-for="(mendi, index) in scoreboard.red.mendi" :key="mendi.imgName" class="col-auto q-mx-xs">
            <cardssvg :name="mendi.imgName" cardSize="3rem" :class="{ 'cardStack': index!==0 }"></cardssvg>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import cardssvg from "../components/cardsSVG.vue";
export default {
  name: "Scoreboard",
  data() {
    return {
      blueScore: 0,
      redScore: 0,
      blueMendiList: [],
      redMendiList: [],
      gameOver: false,
      users: this.$store.state.users,
      redTeamPlayers: [],
      blueTeamPlayers: [],
      winningTeamPlayers: [],
      winningTeam: '',
      borderCss: {
        margin: this.$q.screen.lt.lg ? "0rem 10rem 0rem 10rem":"0rem 11rem 0rem 11rem"
      }
    };
  },
  components: {
    cardssvg
  },
  computed: {
    isMobile() {
      return this.$q.platform.is.mobile;
    },
    scoreboard(){
      let scoreboard =  this.$store.getters.getScoreboard;
      return scoreboard;
    }
  },
  methods:{
    setGameOverData(){
      var self = this;
      _.each(this.users, user =>{
        if(user.team == 'red'){
          self.redTeamPlayers.push(user);
        }
        else{
          self.blueTeamPlayers.push(user);
        }
      })

      if(this.scoreboard.blue.mendi.length == 4){
        this.winningTeamPlayers = this.blueTeamPlayers;
        this.winningTeam = 'blue'
      }
      else{
        this.winningTeamPlayers = this.redTeamPlayers;
        this.winningTeam = 'red'
      }
    },
    startNewGame() {
      let params = {
        gameId: this.$store.getters.getGameId,
      };
      // this.$store.dispatch("resetState", true);
      // this.$socket.client.emit("resetGame", params);
      this.$socket.client.emit("startNewGameAgain", params);
      this.gameOver = false;
    },
  },
  sockets:{
    scoreBoard: function (data) {
      this.$store.commit('updateScoreBoard',data);
    },
    gameOver: function(data){
      this.setGameOverData()
      this.gameOver = true;
      this.$q.notify({
        message: "Game Over",
        color: "green",
        timeout: 1000,
        position: !this.$q.platform.is.mobile ? 'top-right': 'top'
      });
    },
  }
};
</script>
<style scoped>
.parent {
  display: flex;
  justify-content: center;
  
}

.score-background{
  background: rgba(0, 0, 0, 0.2);
}

.parent-mobile {
  display: flex;
  justify-content: space-between;
}

.ninja-score-mob {
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0rem 0rem 1rem 0rem;
}

.titan-score-mob {
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0rem 0rem 0rem 1rem;
}

.cardStack {
    margin-left: -30px;
}

/* .left,
.right {
  flex: content;
} */


/* Styles for demonstration */
/* .parent {
  padding: 5px;
  border: 2px solid #000;
}
.left,
.right {
  padding: 3px;
  border: 2px solid red;
}
.center {
  margin: 0 3px;
  padding: 3px;
  border: 2px solid blue;
} */
</style>